.member{
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.member-viewport{
    height: 550px;
    width: 800px;
    /*border: 2px solid #d9dee0;*/
    border-radius: 10px;
    /*margin: 130px 0px;*/
    flex-shrink: 0;
    display: flex;
}
.member-img{
    height: 100%;
    width: 40%;
    background: url("menu/member-bg.png");
    background-size: 100% 100%;
    border-radius: 8px 0px 0px 8px;
}
.member-content{
    height: 100%;
    width: 60%;
    background: #ffffff;
    padding: 70px 0px;
    border-radius: 0px 8px 8px 0px;
}
.member-content-header{
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #cdcdcd;
}
#login-trigger{
    width: 100px;
    text-align: right;
    margin-right: 30px;
    color: #ad1b2e;
}
#new-user-trigger{
    width: 150px;
    text-align: left;
    margin-left: 30px;
    color: #cdcdcd;
}
#login-trigger:hover, #new-user-trigger:hover{
    cursor: pointer;
}
#sign-up-btn{
    height: 40px;
    width: 105px;
    margin-left: 190px;
    cursor: pointer;
}
#sign-up-btn div > img{
    height: 100%;
    width: 100%;
}
#sign-up-btn div:nth-child(1){
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 40px;
}
#sign-up-btn div:nth-child(2){
    display: inline-block;
    vertical-align: top;
    height: 40px;
    width: 60px;
    text-align: center;
    line-height: 60px;
}
.member-input, .login-input, .sign-up-choose{
    padding: 20px calc((480px - 300px)/2);
    color: #bbbaba;
    font-family: 'Arial';
    height: 100%;
    line-height: 30px;
}
.member-input > div, .login-input > div{
    height: 80px
}
.member-input input, .login-input input{
    height: 30px;
    width: 300px;
    outline: none;
    border: 2px solid #f2f2f3;
    padding: 0px 10px;
}
#other-login{
    height: 100px;
    width: 300px;
    border-bottom: 2px solid #f2f2f3;
    margin-top: 10px;
}
#login-btn{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 140px;
    background-color: #bc1f33;
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
#other-login div:nth-child(2){
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 80px;
    color: #bbbaba;
    font-size: 10px;
    text-align: right;
}
#login-google, #login-fb{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#login-google{
    margin: 0 3px 0 2px;
}
#login-fb{

}
#other-login img{
    height: 100%;
    width: 100%;
}

#my-account{
    height: 550px;
    width: 800px;
    border: 2px solid #d9dee0;
    border-radius: 10px;
    margin: 130px 0px;
    padding: 50px 150px;
}
#my-account #my-account-title{
    height: 60px;
    text-align: center;
    color: #bc2132;
    font-size: 50px;
    font-family: 'Fredoka One';
    margin-bottom: 30px;
}
#my-account .user-information{
    height: 80px;
    border-bottom: 2px solid #d9dee0;
    line-height: 80px;
    font-family: Noto Sans TC;
}
.user-information div{
    display: inline-block;
    vertical-align: top;
}
.user-inform-pic{
    height: 40px;
    width: 40px;
    margin: 20px 20px;
}
.user-inform-pic > img{
    height: 100%;
    width: 100%;
}
.user-inform-title{
    height: 80px;
    width: 100px;
    color: #8d8d8e;
    line-height: 90px;
}
.user-inform-data{
    color: #231815;
    line-height: 90px;
    margin-left: 20px;
}

#sign-up-choose-container{
    height: 270px;
    width: 100%;
    border-bottom: 2px solid #f2f2f3;
    padding-top: 50px;
}
.sign-up-choose-btn{
    height: 50px;
    width: 275px;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
    border: 2px solid #cdcdcd;
}
#member-visitor{
    margin-top: 30px;
}
.sign-up-choose-btn div:nth-child(1){
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    margin-left: 50px;
}
.sign-up-choose-btn div > img{
    height: 100%;
    width: 100%;
}
.sign-up-choose-btn div:nth-child(2){
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    margin-left: 20px;
    color: #bbbaba;
}
.sign-up-choose-btn:hover{    
    background-color: #bc1f33;
    color: white;
    border: 0;
}
.sign-up-choose-btn:hover > div:nth-child(2){  
    color: white;
}
